body{
    background-color: gray;
}

.PartArriba{
    background-color: rgb(117, 116, 116);
    padding-top: 20px;
    width: 100%;
    max-width: 2000px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    box-shadow: rgb(0, 0, 0) 1px 0px 10px;
    background-image: url('img/img3.png');

}

.PartArriba h2{
    text-align: left;
    color: orange;
    padding-left: 150px;
    margin-top: -1px;
    text-shadow: black 1px 0px 10px;
    
}


.PartArriba img{
    width: 100%;
    max-width: 120px;
    margin-top: -100px;
    margin-left: 10px;
    box-shadow: orange 1px 0px 10px;
    border-radius: 8px;
}


.Botons{
    text-align: right;
    margin-right: 10px;
    margin-top: -70px;
    font-weight: 100;
}
.Botons a{
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 5px;
    text-shadow: white 1px 0px 10px;
}


.inicio, .sobre, .contactos{
    text-align: center;
}



.inicio h1{
    background-color: rgb(78, 77, 77);
    border-radius: 5px;
}

.inicio p{
    padding-left: 10px;
    text-align: left;
}

.sobre h1{
    background-color: rgb(78, 77, 77);
    border-radius: 5px;
}

.contactos h1{
    background-color: rgb(78, 77, 77);
    border-radius: 5px;
}

.inicio img{
    width: 100%;
    max-width: 350px;
    padding: 10px;
    height: 350px;
}

.sobre img{
    width: 100%;
    max-width: 350px;
    padding: 10px;
    height: 350px;
}

.contactos img{
    width: 100%;
    max-width: 350px;
    padding: 10px;
    height: 350px;
}